*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}

.mainform-allform{
    width: 100%;
    height: 100%;    
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

@media screen and (orientation:landscape) {
    .mainform-allform{background-image: url('../images/background/mainFormLand.jpg');
    }   
    .mainform-header{
        height: 45%;
    }
    .mainform-footer{
        height: 55%;   
    }
    .mainform-menu{
        height: 100%;
    }
    .mainform-menu-buttonarea{
        height: 80%;
        margin:0 10%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        text-align: center;
    }
}

@media screen and (orientation:portrait) {
    .mainform-allform{background-image: url('../images/background/mainFormPortrait.jpg');
    }
    .mainform-header{
        height: 45%;
    }
    .mainform-footer{
        height: 55%;   
    }

    .mainform-menu{
        height: 100%;
    }
    .mainform-menu-buttonarea{
        height: 80%;
        margin:0 10%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        text-align: center;
    }
    .mainform-menu-buttonarea-button{
        border: 1px solid black;
        padding: 20px 0px;
        
    }
}


  