*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
.mainform-allform{
    width: 100%;
    height: 100%;    
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

@media screen and (orientation:portrait) {
    .mainform-allform{background-image: url('../images/background/mainFormPortrait.jpg');
    }
    .mainform-header{
        height: 45%;
    }
    .mainform-footer{
        height: 55%;   
    }
    .mainform-menu{
        height: 100%;
    }
    .mainform-menu-buttonarea{
        height: 80%;
        margin:0 10%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        text-align: center;
    }
    .mainform-menu-buttonarea-button{
        border: 1px solid black;
        padding: 20px 0px;
        
    }
}

@media screen and (orientation:landscape) {
    .mainform-allform{background-image: url('../images/background/mainFormLand.jpg');
    }   
   
}


.button {
    position: relative;
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px, #053852 -1px -1px;
    text-decoration: none;
    user-select: none;
    padding: 20px 0px;
    outline: none;
    border-radius: 7px;
    background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
    box-shadow:
     inset -2px -2px rgba(0,0,0,.3),
     inset 2px 2px rgba(255,255,255,.3);
    transition: background-position 999999s, color 999999s, text-shadow 999999s;
  }
  .button:hover, .button:focus {
    text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
    background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 10px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) no-repeat;
    background-size: 1000% 100%;
  }
  .button:hover {
    background-position: 0 0;
  }
  .button:focus {
    
    background-position: 900% 0;
    transition: background-position linear 600s, color .5s, text-shadow .5s;
  }

  