*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100vw;
}
.all-form-test, .progressbar{
    width: 100%;
    height: 100%;    
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.progressbar{
    height: 100%;
    background-color: red;
    z-index: 1;
}
.question-form, .answer-form{
    position: relative;
    z-index: 2;
}

.question-form{
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../images/test/question.jpg');
    height: 50%;
}
.ansver-form{
    height: 50%;
}
@media screen and (orientation:landscape) {
     }


@media screen and (orientation:portrait) {
    .all-form-test{background-image: url('../images/test/progres.jpg');
    }
}