@font-face {
	font-family: 'Kashima'; 
	src: local('Kashima'),
		url(../fonts/Mgnon.ttf); 
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kashima'; 
}

body{
    height: 100%;
    width: 100%;
}

.choise {    
    color:rgb(0, 0, 0);
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 35%;
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px 0 hsl(0, 0%, 100%),
             1px 1px 1px hsl(118, 87%, 26%);
    outline: none;
    border-radius: 3px / 100%;
    background-image:   
     linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
     linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
    
  }
  .choise:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  }
  .choise:active {
    top: 1px;
  }

  /* горизонтальная ориентация*/

@media screen and (orientation:landscape) {
    .all-form-test{
        width: 100%;
        height: 100%;    
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        background-image: url('../images/test/progress.jpg');
    }
    .choise{
        height: 50%;
        width: 20%;
        font-size: 4vw;
    }
    .question-form{
        position: relative;
        z-index: 3;
        background: rgba(255, 255, 255, 0.8);
        margin: 7%;
        height: 35%;
        width: 86%;
        border: solid black;
        border-width: 3px 4px 3px 5px;
        border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
        transform: rotate(2deg);
    }
    .question-text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 5vw;
        font-weight: 700;
    }
    .ansver-form{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        z-index: 2;
        height: 30%;
        width: 100%;
    }
}


  /* вертикальная ориентация*/
@media screen and (orientation:portrait) {
    
    .all-form-test{
        background-image: url('../images/test/progress.jpg');
        width: 100%;
        height: 100%;    
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
    }
    .question-form{
        margin-top: 10%;
        margin-bottom: 5%;
        position: relative;
        z-index: 3;
        background-repeat: no-repeat;
        background-size: auto;
        background-image: url('../images/test/question.png');
        background-size: 100% 100%;
        height: 50%;
        width: 100%;
    }
    .question-text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70%;
        height: 100%;
        margin: 0 15%;
        font-size: 5vw;
        font-weight: 700;
    }
    .ansver-form{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        z-index: 2;
        height: 30%;
        width: 100%;
    }
}



/*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*//*кнопка*/
a.button20 {
    position: fixed;
    top: 5px;
    left: 9px;
    z-index: 5;
    display: inline-block;
    font-weight: bold;
    color: #000;
    text-align: right;
    text-decoration: none;
    text-shadow: -2px 2px rgba(255,255,255,.3);
    line-height: 1.1;
    padding: .5em 1.4em .4em 1.2em;
    background: linear-gradient(#ecc92b, #fce25b);
    box-shadow:
     0 0 0 1px #fce25b inset,
     -1px 0px rgb(220,195,35), -1px 1px rgb(192,167,7),
     -2px 1px rgb(219,194,34), -2px 2px rgb(191,166,6),
     -3px 2px rgb(218,193,33), -3px 3px rgb(190,165,5),
     -4px 3px rgb(217,192,32), -4px 4px rgb(189,164,4),
     -5px 4px rgb(216,191,31), -5px 5px rgb(188,163,3),
     -6px 5px rgb(215,190,30), -6px 6px rgb(187,162,2),
     -7px 6px rgb(214,189,29), -7px 7px rgb(186,161,1),
     -8px 7px rgb(213,188,28), -8px 8px rgb(185,160,0),
     -7px 9px 1px rgba(0,0,0,.4),
     -5px 11px 1px rgba(0,0,0,.2),
     -1px 13px 4px rgba(0,0,0,.2),
     4px 16px 7px rgba(0,0,0,.3);
    transition: .4s;
  }
  a.button20:active {
    box-shadow: none;
    -webkit-transform: translate(-7px, 8px);
    transform: translate(-7px, 8px);
  }
  a.button20:after {
    content: "";
    position: absolute;
    top: calc(50% - .8em/2);
    left: .3em;
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    border: .19em solid;
    border-top: none;
    border-left: none;
    width: .6em;
    height: .6em;
    box-shadow: inset -2px 2px rgba(255,255,255,.3);
  }


   /*прогресс бар*/   /*прогресс бар*/   /*прогресс бар*/   /*прогресс бар*/   /*прогресс бар*/   /*прогресс бар*/   /*прогресс бар*/   /*прогресс бар*/